// div {
//   background-image: url("https://www.wallpapertip.com/wmimgs/66-666819_website-design-background-creative-background-image-for-website.jpg");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

h1 {
  color: #000000;
  padding: 40vh 0;
  text-align: center;
}
